#main{
  padding-top: 200px;
}
img{
  width: 20vw;
  height: 20vw;
}
body{
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}
#chatbox{
  /* border-radius: 25px; */
  background-color: black;
  /* padding: 20px;
  width: 200px;
  height: 150px; */
  color: white;
}
